.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.apk
bin/
gen/

*.iml
*.ipr
*.iws
.idea/
/projectFilesBackup/.idea/

target/
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

*.pydevproject
.project
.metadata

*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.classpath
.settings/
.loadpath

.DS_Store

